<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.lab.mapper.LgsDemandChangeRecordMapper">
    
    <resultMap type="LgsDemandChangeRecord" id="LgsDemandChangeRecordResult">
        <result property="id"    column="ID"    />
        <result property="lgsDemandId"    column="lgs_demand_id"    />
        <result property="fileId"    column="FILE_ID"    />
        <result property="systemName"    column="system_name"    />
        <result property="instrumentCode"    column="instrument_code"    />
        <result property="priority"    column="priority"    />
        <result property="expectedCompletionTime"    column="expected_completion_time"    />
        <result property="recordDescribe"    column="record_describe"    />
        <result property="isComplete"    column="is_complete"    />
        <result property="completedBy"    column="completed_by"    />
        <result property="completionTime"    column="completion_time"    />
        <result property="delFlag"    column="DEL_FLAG"    />
        <result property="createdBy"    column="CREATED_BY"    />
        <result property="createdTime"    column="CREATED_TIME"    />
        <result property="updatedBy"    column="UPDATED_BY"    />
        <result property="updatedTime"    column="UPDATED_TIME"    />
        <result property="DiffDate"    column="DiffDate"    />
    </resultMap>

    <sql id="selectLgsDemandChangeRecordVo">
        select ID, lgs_demand_id, FILE_ID, system_name, instrument_code, priority, expected_completion_time, record_describe, is_complete, completed_by, completion_time, DEL_FLAG, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME,	DATEDIFF( NOW(), expected_completion_time ) AS DiffDate   from lgs_demand_change_record
    </sql>

    <select id="selectLgsDemandChangeRecordList" parameterType="LgsDemandChangeRecord" resultMap="LgsDemandChangeRecordResult">
        <include refid="selectLgsDemandChangeRecordVo"/>
        <where>  
            <if test="lgsDemandId != null "> and lgs_demand_id = #{lgsDemandId}</if>
            <if test="fileId != null  and fileId != ''"> and FILE_ID = #{fileId}</if>
            <if test="systemName != null  and systemName != ''"> and system_name like concat('%', #{systemName}, '%')</if>
            <if test="instrumentCode != null  and instrumentCode != ''"> and instrument_code like concat('%', #{instrument_code}, '%')</if>
            <if test="priority != null "> and priority = #{priority}</if>
<!--            <if test="expectedCompletionTime != null "> and expected_completion_time = #{expectedCompletionTime}</if>-->
            <choose>
                <when test="DiffState !=null and DiffState == 0">
                    and expected_completion_time &gt; NOW()
                </when>
                <when test="DiffState !=null and DiffState == 1">
                    and expected_completion_time &lt; NOW()
                </when>
            </choose>
            <if test="recordDescribe != null  and recordDescribe != ''"> and record_describe = #{recordDescribe}</if>
            <if test="isComplete != null "> and is_complete = #{isComplete}</if>
            <if test="completedBy != null  and completedBy != ''"> and completed_by = #{completedBy}</if>
            <if test="completionTime != null "> and completion_time = #{completionTime}</if>
            <if test="delFlag != null "> and DEL_FLAG = #{delFlag}</if>
            <if test="createdBy != null  and createdBy != ''"> and CREATED_BY = #{createdBy}</if>
            <if test="createdTime != null "> and CREATED_TIME = #{createdTime}</if>
            <if test="updatedBy != null  and updatedBy != ''"> and UPDATED_BY = #{updatedBy}</if>
            <if test="updatedTime != null "> and UPDATED_TIME = #{updatedTime}</if>
        </where>
        ORDER BY id DESC
    </select>
    
    <select id="selectLgsDemandChangeRecordById" parameterType="Long" resultMap="LgsDemandChangeRecordResult">
        <include refid="selectLgsDemandChangeRecordVo"/>
        where ID = #{id}
    </select>
        
    <insert id="insertLgsDemandChangeRecord" parameterType="LgsDemandChangeRecord" useGeneratedKeys="true" keyProperty="id">
        insert into lgs_demand_change_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="lgsDemandId != null">lgs_demand_id,</if>
            <if test="fileId != null">FILE_ID,</if>
            <if test="systemName != null">system_name,</if>
            <if test="instrumentCode != null">instrument_code,</if>
            <if test="priority != null">priority,</if>
            <if test="expectedCompletionTime != null">expected_completion_time,</if>
            <if test="recordDescribe != null">record_describe,</if>
            <if test="isComplete != null">is_complete,</if>
            <if test="completedBy != null">completed_by,</if>
            <if test="completionTime != null">completion_time,</if>
            <if test="delFlag != null">DEL_FLAG,</if>
            <if test="createdBy != null">CREATED_BY,</if>
            <if test="createdTime != null">CREATED_TIME,</if>
            <if test="updatedBy != null">UPDATED_BY,</if>
            <if test="updatedTime != null">UPDATED_TIME,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="lgsDemandId != null">#{lgsDemandId},</if>
            <if test="fileId != null">#{fileId},</if>
            <if test="systemName != null">#{systemName},</if>
            <if test="instrumentCode != null">#{instrumentCode},</if>
            <if test="priority != null">#{priority},</if>
            <if test="expectedCompletionTime != null">#{expectedCompletionTime},</if>
            <if test="recordDescribe != null">#{recordDescribe},</if>
            <if test="isComplete != null">#{isComplete},</if>
            <if test="completedBy != null">#{completedBy},</if>
            <if test="completionTime != null">#{completionTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
         </trim>
    </insert>

    <update id="updateLgsDemandChangeRecord" parameterType="LgsDemandChangeRecord">
        update lgs_demand_change_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="lgsDemandId != null">lgs_demand_id = #{lgsDemandId},</if>
            <if test="fileId != null">FILE_ID = #{fileId},</if>
            <if test="systemName != null">system_name = #{systemName},</if>
            <if test="instrumentCode != null">instrument_code = #{instrumentCode},</if>
            <if test="priority != null">priority = #{priority},</if>
            <if test="expectedCompletionTime != null">expected_completion_time = #{expectedCompletionTime},</if>
            <if test="recordDescribe != null">record_describe = #{recordDescribe},</if>
            <if test="isComplete != null">is_complete = #{isComplete},</if>
            <if test="completedBy != null">completed_by = #{completedBy},</if>
            <if test="completionTime != null">completion_time = #{completionTime},</if>
            <if test="delFlag != null">DEL_FLAG = #{delFlag},</if>
            <if test="createdBy != null">CREATED_BY = #{createdBy},</if>
            <if test="createdTime != null">CREATED_TIME = #{createdTime},</if>
            <if test="updatedBy != null">UPDATED_BY = #{updatedBy},</if>
            <if test="updatedTime != null">UPDATED_TIME = #{updatedTime},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteLgsDemandChangeRecordById" parameterType="Long">
        delete from lgs_demand_change_record where ID = #{id}
    </delete>

    <delete id="deleteLgsDemandChangeRecordByIds" parameterType="String">
        delete from lgs_demand_change_record where ID in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>