<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.lab.mapper.LgsGroupMappingMapper">
    
    <resultMap type="LgsGroupMapping" id="LgsGroupMappingResult">
        <result property="id"    column="ID"    />
        <result property="demandId"    column="demand_id"    />
        <result property="groupManagementId"    column="group_management_id"    />
        <result property="subprocessIds"    column="subprocess_ids"    />
        <result property="isComplete"    column="is_complete"    />
        <result property="completedBy"    column="completed_by"    />
        <result property="completionTime"    column="completion_time"    />
        <result property="delFlag"    column="DEL_FLAG"    />
        <result property="createdBy"    column="CREATED_BY"    />
        <result property="createdTime"    column="CREATED_TIME"    />
        <result property="updatedBy"    column="UPDATED_BY"    />
        <result property="updatedTime"    column="UPDATED_TIME"    />
    </resultMap>

    <sql id="selectLgsGroupMappingVo">
        select ID, demand_id, group_management_id, subprocess_ids, is_complete, completed_by, completion_time, DEL_FLAG, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME from lgs_group_mapping
    </sql>

    <select id="selectLgsGroupMappingList" parameterType="LgsGroupMapping" resultMap="LgsGroupMappingResult">
        <include refid="selectLgsGroupMappingVo"/>
        <where>  
            <if test="demandId != null "> and demand_id = #{demandId}</if>
            <if test="groupManagementId != null "> and group_management_id = #{groupManagementId}</if>
            <if test="subprocessIds != null  and subprocessIds != ''"> and subprocess_ids = #{subprocessIds}</if>
            <if test="isComplete != null "> and is_complete = #{isComplete}</if>
            <if test="completedBy != null  and completedBy != ''"> and completed_by = #{completedBy}</if>
            <if test="completionTime != null "> and completion_time = #{completionTime}</if>
            <if test="delFlag != null "> and DEL_FLAG = #{delFlag}</if>
            <if test="createdBy != null  and createdBy != ''"> and CREATED_BY = #{createdBy}</if>
            <if test="createdTime != null "> and CREATED_TIME = #{createdTime}</if>
            <if test="updatedBy != null  and updatedBy != ''"> and UPDATED_BY = #{updatedBy}</if>
            <if test="updatedTime != null "> and UPDATED_TIME = #{updatedTime}</if>
        </where>
    </select>
    
    <select id="selectLgsGroupMappingById" parameterType="Long" resultMap="LgsGroupMappingResult">
        <include refid="selectLgsGroupMappingVo"/>
        where ID = #{id}
    </select>
        
    <insert id="insertLgsGroupMapping" parameterType="LgsGroupMapping" useGeneratedKeys="true" keyProperty="id">
        insert into lgs_group_mapping
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="demandId != null">demand_id,</if>
            <if test="groupManagementId != null">group_management_id,</if>
            <if test="subprocessIds != null">subprocess_ids,</if>
            <if test="isComplete != null">is_complete,</if>
            <if test="completedBy != null">completed_by,</if>
            <if test="completionTime != null">completion_time,</if>
            <if test="delFlag != null">DEL_FLAG,</if>
            <if test="createdBy != null">CREATED_BY,</if>
            <if test="createdTime != null">CREATED_TIME,</if>
            <if test="updatedBy != null">UPDATED_BY,</if>
            <if test="updatedTime != null">UPDATED_TIME,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="demandId != null">#{demandId},</if>
            <if test="groupManagementId != null">#{groupManagementId},</if>
            <if test="subprocessIds != null">#{subprocessIds},</if>
            <if test="isComplete != null">#{isComplete},</if>
            <if test="completedBy != null">#{completedBy},</if>
            <if test="completionTime != null">#{completionTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
         </trim>
    </insert>

    <update id="updateLgsGroupMapping" parameterType="LgsGroupMapping">
        update lgs_group_mapping
        <trim prefix="SET" suffixOverrides=",">
            <if test="demandId != null">demand_id = #{demandId},</if>
            <if test="groupManagementId != null">group_management_id = #{groupManagementId},</if>
            <if test="subprocessIds != null">subprocess_ids = #{subprocessIds},</if>
            <if test="isComplete != null">is_complete = #{isComplete},</if>
            <if test="completedBy != null">completed_by = #{completedBy},</if>
            <if test="completionTime != null">completion_time = #{completionTime},</if>
            <if test="delFlag != null">DEL_FLAG = #{delFlag},</if>
            <if test="createdBy != null">CREATED_BY = #{createdBy},</if>
            <if test="createdTime != null">CREATED_TIME = #{createdTime},</if>
            <if test="updatedBy != null">UPDATED_BY = #{updatedBy},</if>
            <if test="updatedTime != null">UPDATED_TIME = #{updatedTime},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteLgsGroupMappingById" parameterType="Long">
        delete from lgs_group_mapping where ID = #{id}
    </delete>

    <delete id="deleteLgsGroupMappingByIds" parameterType="String">
        delete from lgs_group_mapping where ID in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>