<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.lab.mapper.LgsOperationPersonnelMapper">
    
    <resultMap type="LgsOperationPersonnel" id="LgsOperationPersonnelResult">
        <result property="id"    column="ID"    />
        <result property="demandId"    column="demand_id"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="phoneNumber"    column="phone_number"    />
        <result property="state"    column="state"    />
        <result property="assignorId"    column="assignor_id"    />
        <result property="category"    column="category"    />
        <result property="delFlag"    column="DEL_FLAG"    />
        <result property="createdBy"    column="CREATED_BY"    />
        <result property="createdTime"    column="CREATED_TIME"    />
        <result property="updatedBy"    column="UPDATED_BY"    />
        <result property="updatedTime"    column="UPDATED_TIME"    />
    </resultMap>

    <sql id="selectLgsOperationPersonnelVo">
        select ID, demand_id, user_id, user_name, phone_number, state, assignor_id, category, DEL_FLAG, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME from lgs_operation_personnel
    </sql>

    <select id="selectLgsOperationPersonnelList" parameterType="LgsOperationPersonnel" resultMap="LgsOperationPersonnelResult">
        <include refid="selectLgsOperationPersonnelVo"/>
        <where>  
            <if test="demandId != null "> and demand_id = #{demandId}</if>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="phoneNumber != null  and phoneNumber != ''"> and phone_number = #{phoneNumber}</if>
            <if test="state != null "> and state = #{state}</if>
            <if test="assignorId != null  and assignorId != ''"> and assignor_id = #{assignorId}</if>
            <if test="category != null "> and category = #{category}</if>
            <if test="delFlag != null "> and DEL_FLAG = #{delFlag}</if>
            <if test="createdBy != null  and createdBy != ''"> and CREATED_BY = #{createdBy}</if>
            <if test="createdTime != null "> and CREATED_TIME = #{createdTime}</if>
            <if test="updatedBy != null  and updatedBy != ''"> and UPDATED_BY = #{updatedBy}</if>
            <if test="updatedTime != null "> and UPDATED_TIME = #{updatedTime}</if>
        </where>
    </select>
    
    <select id="selectLgsOperationPersonnelById" parameterType="Long" resultMap="LgsOperationPersonnelResult">
        <include refid="selectLgsOperationPersonnelVo"/>
        where ID = #{id}
    </select>
        
    <insert id="insertLgsOperationPersonnel" parameterType="LgsOperationPersonnel" useGeneratedKeys="true" keyProperty="id">
        insert into lgs_operation_personnel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="demandId != null">demand_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="userName != null">user_name,</if>
            <if test="phoneNumber != null">phone_number,</if>
            <if test="state != null">state,</if>
            <if test="assignorId != null">assignor_id,</if>
            <if test="category != null">category,</if>
            <if test="delFlag != null">DEL_FLAG,</if>
            <if test="createdBy != null">CREATED_BY,</if>
            <if test="createdTime != null">CREATED_TIME,</if>
            <if test="updatedBy != null">UPDATED_BY,</if>
            <if test="updatedTime != null">UPDATED_TIME,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="demandId != null">#{demandId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="userName != null">#{userName},</if>
            <if test="phoneNumber != null">#{phoneNumber},</if>
            <if test="state != null">#{state},</if>
            <if test="assignorId != null">#{assignorId},</if>
            <if test="category != null">#{category},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
         </trim>
    </insert>

    <update id="updateLgsOperationPersonnel" parameterType="LgsOperationPersonnel">
        update lgs_operation_personnel
        <trim prefix="SET" suffixOverrides=",">
            <if test="demandId != null">demand_id = #{demandId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="phoneNumber != null">phone_number = #{phoneNumber},</if>
            <if test="state != null">state = #{state},</if>
            <if test="assignorId != null">assignor_id = #{assignorId},</if>
            <if test="category != null">category = #{category},</if>
            <if test="delFlag != null">DEL_FLAG = #{delFlag},</if>
            <if test="createdBy != null">CREATED_BY = #{createdBy},</if>
            <if test="createdTime != null">CREATED_TIME = #{createdTime},</if>
            <if test="updatedBy != null">UPDATED_BY = #{updatedBy},</if>
            <if test="updatedTime != null">UPDATED_TIME = #{updatedTime},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteLgsOperationPersonnelById" parameterType="Long">
        delete from lgs_operation_personnel where ID = #{id}
    </delete>

    <delete id="deleteLgsOperationPersonnelByIds" parameterType="String">
        delete from lgs_operation_personnel where ID in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectOperationUserIdList"  resultType="java.lang.Long">
        SELECT
            u.user_id,
            u.dept_id,
            u.nick_name,
            u.user_name,
            u.email,
            u.phonenumber,
            u.STATUS,
            p.post_name,
            p.post_code,
            p.post_id
        FROM
            sys_user u
                LEFT JOIN sys_user_post up ON u.user_id = up.user_id
                LEFT JOIN sys_post p ON p.post_id = up.post_id
        WHERE
            u.del_flag = '0'
          AND u.`status` = 0
          AND p.post_code in
        <foreach collection="list" item="code" index="index" open="(" close=")" separator=",">
            #{code}
        </foreach>
    </select>

</mapper>